@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>Come see him performace at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
<br/>
<br/>
<p>Listen to him on his weekly podcat <a href="https://baconsale.com/">Baconsale</a></p>
<br/>
<br/>
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" height=500/>
</a>